// @import "./../index.scss";

:root {
	--rlg-screen-minWidth: 600px;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
nav.navigation-main-container {
	display: flex;
	// justify-content: space-around;
	// justify-content: flex-end;
	justify-content: space-between;
    width: 100vw;
	align-items: center;
	position: absolute;
	min-height: 10vh;
	z-index: 10000;
	// height: 350px;
	// background-color: rgba(white, .1);

	@media screen and (min-width: 600px) {
		// height: 60px;
	}

	border: 0px solid blue;

	.logo {
		// display: flex;
		// justify-content: flex-start;
		// position: absolute;
		// padding: 6px;
		margin-left: 40px;
		// @include fontFamilyWeightSizeColor( $fontRye, 600, 2em, var(--rlg-color-light) );
		// font-family: var(--rlg-font-Rye);
		font-family: var(--rlg-font-SocialIcons);
		font-size: 4em;
		font-style: normal;
		font-weight: 600;
		font-kerning: auto;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
		color: var(--rlg-color-success-tint2);

		border: 0px solid grey;
	}

	ul.navigation-container {
		display: flex;
		// justify-content: flex-end;
		// align-items: center;
		align-items: flex-end;
		flex-direction: column;
		// position: absolute;
		height: 400px;
		// width: 160px;
		// padding-top: 20px;
		// padding-right: 20px;
		padding: 40px 20px 40px 40px;
		margin: 10px;
		background: linear-gradient(0deg, rgba(white, .1), rgba(white, .9));
		box-shadow: var(--rlg-box-shadow);
		border: 1px solid grey;
		
		@media screen and (min-width: 700px) {
			flex-direction: row;
			align-items: center;
			height: 60px;
			background: linear-gradient(90deg, rgba(white, 0), white);
			// border: 10px solid rgba(white, .5);
		}
	}

	.navigation-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		// @include fontFamilyWeightSizeColor( $fontOpenSans, 600, 1em, null);
		font-family: var(--rlg-font-OpenSans);
		font-size: 1em;
		font-style: normal;
		font-weight: 600;
		font-kerning: auto;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		// color: var(--rlg-color-medium);
		width: 120px;
		height: auto;
		padding: 10px;
		margin: 0 0 4px 4px;
		background: rgba(white, .5);
		box-shadow: var(--rlg-box-shadow-light);

		border: 0px solid grey;

		@media screen and (min-width: 700px) {
			flex-direction: row;
			align-items: center;
			// height: 150px;
			// background: linear-gradient(90deg, rgba(white, 0), white);
			// border: 10px solid rgba(white, .5);
		}
		// :hover { 
		// 	// background-color: yellow;
		// }
		&:hover {
			background: rgba(var(--rlg-color-success-rgb), .25);
		}

		a {
			color: var(--rlg-color-medium);
			text-decoration: none;
		}
		
	}
}
