
.projects-main-container {
	width: 100vw;
	border: 0px solid grey;
	
	.projects-image-container {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 600px;
		background-image: url('./../../assets/images/Void.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
		opacity: 0.85;

		.projects-image-title {
			font-family: var(--rlg-font-OpenSans);
			color: var(--rlg-color-medium);
			font-size: 2em;
			font-style: normal;
			font-weight: 600;
			font-kerning: auto;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			line-height: 1;
			padding-bottom: 100px;
		}
	}
}

.project-other-component {
	display: inline-flex;
	flex-direction: column;
	width: 70vw;
	position: relative;
	top: -50px;
	box-shadow: 4px 6px 10px rgba(black, .1);
	border-radius: 6px;
	// border: 1px solid white;
}
