/*--=| shared theme |=--*/
// @import './Theme/sharedThemeColors.scss';
// @import './Theme/sharedFont.scss';
// @import './Theme/sharedDev.scss';


html {
	// height: 100%;
	// display: flex;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
	background: var(--rlg-color-dark);
}

body {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
  margin: 0;
	// background-attachment: fixed !important;
	// min-width: 350px;
  // max-width: 922px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	// -webkit-user-select: text;
  //   user-select: text;
}

// body {
//   margin: 0;
//   @include fontFamilyWeightSizeColor($fontMerriweather, 400, null, null);
  
//   // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//   //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//   //   sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   max-width: 922px;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/******************************************************
* Component: Shared Theme
* Copyright © 2019 GonzalesDesign
* Platform: React 16.9.0
* Updated: 19.08.17
*******************************************************/
// :root {
// 	--rlg-color-primary: #0b95da;
// 	--rlg-color-primary-rgb: 11, 149, 218;
// 	--rlg-color-primary-contrast: #ffffff;
// 	--rlg-color-primary-contrast-rgb: 255, 255, 255;
// 	--rlg-color-primary-shade: #0a83c0;
// 	--rlg-color-primary-tint: #23a0de;

// 	--rlg-color-secondary: #f0a11f;
// 	--rlg-color-secondary-rgb: 240, 161, 31;
// 	--rlg-color-secondary-contrast: #000000;
// 	--rlg-color-secondary-contrast-rgb: 0, 0, 0;
// 	--rlg-color-secondary-shade: #d38e1b;
// 	--rlg-color-secondary-tint: #f2aa35;

// 	--rlg-color-tertiary: #8a2b06;
// 	--rlg-color-tertiary-rgb: 138, 43, 6;
// 	--rlg-color-tertiary-contrast: #ffffff;
// 	--rlg-color-tertiary-contrast-rgb: 255, 255, 255;
// 	--rlg-color-tertiary-shade: #792605;
// 	--rlg-color-tertiary-tint: #96401f;

// 	--rlg-color-success: #6da03a;
// 	--rlg-color-success-rgb: 109, 160, 58;
// 	--rlg-color-success-contrast: #000000;
// 	--rlg-color-success-contrast-rgb: 0, 0, 0;
// 	--rlg-color-success-shade: #608d33;
// 	--rlg-color-success-tint: #7caa4e;

// 	--rlg-color-warning: #ffce00;
// 	--rlg-color-warning-rgb: 255, 206, 0;
// 	--rlg-color-warning-contrast: #ffffff;
// 	--rlg-color-warning-contrast-rgb: 255, 255, 255;
// 	--rlg-color-warning-shade: #e0b500;
// 	--rlg-color-warning-tint: #ffd31a;

// 	--rlg-color-danger: #cc1810;
// 	--rlg-color-danger-rgb: 204, 24, 16;
// 	--rlg-color-danger-contrast: #ffffff;
// 	--rlg-color-danger-contrast-rgb: 255, 255, 255;
// 	--rlg-color-danger-shade: #b4150e;
// 	--rlg-color-danger-tint: #d12f28;

// 	--rlg-color-dark: #241814;
// 	--rlg-color-dark-rgb: 36, 24, 20;
// 	--rlg-color-dark-contrast: #ffffff;
// 	--rlg-color-dark-contrast-rgb: 255, 255, 255;
// 	--rlg-color-dark-shade: #201512;
// 	--rlg-color-dark-tint: #3a2f2c;

// 	--rlg-color-medium: #6b6d7e;
// 	--rlg-color-medium-rgb: 107, 109, 126;
// 	--rlg-color-medium-contrast: #ffffff;
// 	--rlg-color-medium-contrast-rgb: 255, 255, 255;
// 	--rlg-color-medium-shade: #5e606f;
// 	--rlg-color-medium-tint: #7a7c8b;

// 	--rlg-color-light: #f4f5f8;
// 	--rlg-color-light-rgb: 244, 244, 244;
// 	--rlg-color-light-contrast: #000000;
// 	--rlg-color-light-contrast-rgb: 0, 0, 0;
// 	--rlg-color-light-shade: #d7d8da;
// 	--rlg-color-light-tint: #f5f6f9;

// 	--rlg-color-primary-tint2:#67c1ee;
// 	--rlg-color-primary-tint3:#b5e0f5;
// 	--rlg-color-primary-tint4:#e8f5fc;
// 	--rlg-color-success-shade2: #047704;
// 	--rlg-color-success-tint2: #accc8b;
// 	--rlg-color-danger-tint2: #e7514c;
// 	--rlg-color-medium-tint2: #abadbb;
// 	--rlg-color-medium-shade2: rgb(136, 138, 151);
// }

/******************************************************
* Component: Shared Font Style
* Copyright © 2019 GonzalesDesign
* Platform: React 16.9.0
* Updated: 19.08.217
*******************************************************/

// @import url("https://fonts.googleapis.com/css?family=Oswald");
// @import url("https://fonts.googleapis.com/css?family=Ovo");
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
// @import url("https://fonts.googleapis.com/css?family=Barlow+Condensed");
// @import url("https://fonts.googleapis.com/css?family=Muli");
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,700&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap');

// @import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i");
// @import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700&display=swap');

// @font-face {
//     font-family: "socialFont";
//     src: url("./assets/fonts/social-media.ttf");
// }
// @font-face {
//     font-family: "bodoniOrnaments";
//     src: url("./assets/fonts/social-media.ttf");
// }

// // .harlow {
// //     font-family: "socialFont";
// // }

// /*---=| Shadows |=---*/
// $text-shadow: 1px 1px 0px rgba(rgb(104, 104, 104), 0.75);
// $box-shadow: 2px 2px 2px rgba(rgb(104, 104, 104), 0.5);
// $box-shadow-light: 2px 2px 2px rgba(rgb(104, 104, 104), 0.15);
// $text-shadow-light: 1px 1px 0px rgba(rgb(104, 104, 104), 0.25);
// $multistep-white-text-shadow: 0 0 #ffffff, 1px 1px #ffffff, 2px 2px #ffffff, 3px 3px rgb(249, 213, 174);
// .multistep-white-text-shadow {
//     text-shadow: $multistep-white-text-shadow;
// }

// /*---=| Shadow Mixin |=---*/
// @mixin shadowMixin($fontFam, $fontWt, $fontSz, $Color) {
// 	font-family: $fontFam;
// 	font-weight: $fontWt;
// 	font-size: $fontSz;
// 	color: $Color;
// 	// to use: @include fontFamilyWeightSizeColor ($rlg-primary-font, 600, 1em);
// }

// /*---=| Font Variables |=---*/
// $fontBarlow: "Barlow Condensed", sans-serif;
// $fontMuli: "Muli", sans-serif;
// $fontOvo: "Ovo", sans-serif;
// $fontOswald: "Oswald", sans-serif;
// $fontOpenSans: "Open Sans", sans-serif;
// $fontRoboto: 'Roboto', sans-serif;
// $fontRobotoCondensed: 'Roboto Condensed', sans-serif;
// $fontMontserrat: 'Montserrat', sans-serif;
// $fontHind: 'Hind', sans-serif;
// $fontCinzel: 'Cinzel', sans-serif;

// $fontRye: 'Rye', cursive;

// $fontMerriweather: "Merriweather", serif;
// $fontAlegreya: 'Alegreya', serif;
// $fontEBGaramond: 'EB Garamond', serif;

// $fontSocialIcons: 'socialFont';
// $fontBodoniOrnaments: 'bodoniOrnaments';



// /*---=| Font Mixin |=---*/
// @mixin fontFamilyWeightSizeColor($fontFam, $fontWt, $fontSz, $Color) {
// 	font-family: $fontFam;
// 	font-weight: $fontWt;
// 	font-size: $fontSz;
// 	color: $Color;
// 	// to use: @include fontFamilyWeightSizeColor ($rlg-primary-font, 600, 1em);
// }
